{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<style>
.about_right_p img{max-width:100%;}
</style>
<div class="about_content" style="margin-top:10px;">
<div class="anno_tit">
     <h1>{yun:}$row.title{/yun}</h1>
</div>

<div class="about_right_p">
<div style="width:100%; overflow:hidden">
{yun:}$row.content{/yun}
</div>
</div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js" language="javascript"></script>
{yun:}include file="$wapstyle/footer.htm"{/yun}