{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<div class="news_cont_box">
<div class="news_cont_box_tit">
  <h1>{yun:}$Info.title{/yun}</h1>
</div>
<div class="news_cont_ms">{yun:}$Info.datetime|date_format:"%Y-%m-%d"{/yun}<span class="news_list_box_ly">来源：{yun:}if $Info.source{/yun}{yun:}$Info.source|mb_substr:0:16:'gbk'{/yun}{yun:}else{/yun}{yun:}$config.sy_webname{/yun}{yun:}/if{/yun}</span>点击：<span id="click"><script language="javascript" src="{yun:}url m=wap c=article a=GetHits id='`$Info.id`'{/yun}"></script></span> 次<span class="news_list_box_ly">作者：{yun:}if $Info.author{/yun}{yun:}$Info.author|mb_substr:0:16:'gbk'{/yun}{yun:}else{/yun}{yun:}$config.sy_webname{/yun}{yun:}/if{/yun}</span> </div>
<div class="wap_news_cont">
  <div class="wap_txt link_lan"> {yun:}$Info.content{/yun} </div>
</div>
{yun:}if $about{/yun}
<div class="atc_news_tj">
	<div class="atc_news_tj_h1"><span>相关推荐</span></div>
	<div>
		<ul>
		{yun:}foreach from=$about item=alist{/yun}
		<li><a href="{yun:}url m=wap c=article a=show id=$alist.id{/yun}">{yun:}$alist.title{/yun}</a></li>
		{yun:}/foreach{/yun}
		</ul>
	</div>
</div>
{yun:}/if{/yun}
<a href="javascript:void(0);" id="shareClick" style="display:block; background:#f60;border:1px solid #f60; padding:5px;color:#fff; text-align:center">分享</a>
<div class="clear"></div>
<div class="news_in_tit">分类浏览</div>
<div class="clear"></div>
    <div class="news_in_tag ">
    {yun:}articleclass item=v{/yun}
     <a href="{yun:}url m=wap c=article nid=$v.id{/yun}">{yun:}$v.name{/yun} </a>
    {yun:}/articleclass{/yun}
    </div>
<div class="clear"></div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js" language="javascript"></script>
<script>
	var config = {
		url:'{yun:}url m=wap c=article a=show id=$row.id{/yun}',
		title:'{yun:}$row.title{/yun}',
		desc:'{yun:}$row.description|replace:"\r\n":""{/yun}',
		img:'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
		img_title:'{yun:}$row.title{/yun}',
		from:'{yun:}$config.sy_webname{/yun}'
	};
</script>
{yun:}include file="$wapstyle/footer.htm"{/yun}