{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<div class="once_fb">
{yun:}if $num>0{/yun} <a href="{yun:}url m=wap c=tiny a=add{/yun}" class="once_fb_a"> <span class="once_fb_a_s">发布</span>简历</a> {yun:}else{/yun} <a href="javascript:void(0);" onclick="layermsg('一天内只能发布{yun:}$config.sy_tiny{/yun}次！')"class="once_fb_a"> <span class="once_fb_a_s">发布</span>简历</a> {yun:}/if{/yun}
</div>
<div class="clear"></div>
<section>
  <div class="warp_content clear">
    <div class="job_list_content"> {yun:}tiny item=wres  islt=4 ispage=1 limit=20 keyword='auto.keyword' {/yun}
      <div class="tiny_list">
      
       <a href="{yun:}url m=wap c=tiny a=show id=$wres.id{/yun}">
        <div class="tiny_list_content">
        <div class=""> <h3>求职：{yun:}$wres.job{/yun}</h3></div>
            
          <div class="tiny_list_content_p">
          <span class="tiny_list_content_username c288">{yun:}$wres.username{/yun} </span>
           <span class="tiny_list_content_userxb"><i class="tiny_list_content_userxb_icon"></i>{yun:}$wres.sex{/yun}</span>
           <span class="tiny_list_content_userjy"><i class="tiny_list_content_userjy_icon"></i>{yun:}$userclass_name[$wres.exp]{/yun}经验</span></div>
              <div class="tiny_list_content_time">{yun:}if $wres.lastupdate=='今天' || $wres.lastupdate=='昨天'{/yun} <span style="color:red;">{yun:}$wres.lastupdate{/yun}</span> {yun:}else{/yun}
            {yun:}$wres.lastupdate{/yun}
            {yun:}/if{/yun}</div>
  
       </div> 
       {yun:}if $wres.production{/yun}
          <div class="tiny_list_content_js"> <span class="tiny_list_content_js_s">简介：{yun:}$wres.production|mb_substr:0:100:'gbk'{/yun}</span></div>{yun:}/if{/yun}
          </a> 
        </div>
      {yun:}/tiny{/yun} </div>
  </div>
</section>
{yun:}if $total<=0{/yun}
  {yun:}if $smarty.get.keyword!="" {/yun}
  <div class="wap_member_no">没有搜索到普工简历<div><a class="wap_mb_no_sr" href="{yun:}url m=wap c='tiny'{/yun}">重新搜索</a></div></div>
{yun:}else{/yun}
<div class="wap_member_no">暂无普工简历<div><a class="wap_mb_no_sr" href="{yun:}url m=wap c='tiny'{/yun}">重新搜索</a></div></div>
{yun:}/if{/yun}
  {yun:}else{/yun}
<div class="pages">{yun:}$pagenav{/yun}</div>
{yun:}/if{/yun}


<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js" language="javascript"></script>
{yun:}include file="$wapstyle/footer.htm"{/yun}