<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />  
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<title>后台管理</title>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script> 
<link href="images/blue.css" rel="stylesheet">
<script src="js/icheck.js"></script>

<script> 
$(document).ready(function(){
	$("input[name=type]").click(function(){
		var type = $(this).val();
		if(type=="integral"){
			$("#integral_tr").show();
			$("#price_tr").hide();
		}else{
			$("#integral_tr").hide();
			$("#price_tr").show();
		}
	});
	 $('input').iCheck({
		checkboxClass: 'icheckbox_flat-blue',
		radioClass: 'iradio_flat-blue'
	  });
});
function check(){
	if($("#price_int").val()<1){
		parent.layer.msg('请输入{yun:}$config.integral_pricename{/yun}！', 2,8);return false;
	}
}
</script>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="admin_Prompt">
<div class="admin_Prompt_span"> 注意事项： 充值时，请正确填写要充值的{yun:}$config.integral_pricename{/yun}。 </div>
<div class="admin_Prompt_close"></div>
</div>

<div class="infoboxp_top">
<h6>后台充值</h6>
</div>
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
  <div class="admin_table_border">
<form name="myform" action="index.php?m=admin_company&c=morderadd" method="post"  target="supportiframe" onSubmit="return check()">
	<table width="100%" class="table_form">
	    <tr class="admin_table_trbg">
			<th width="140">充值用户名：</th>
			<td><input class="input-text" type="text" name="username" size="40" value="{yun:}$user.username{/yun}" disabled="disabled" style="background:#E0E0E0;"/></td>
		</tr> 
        <tr class="admin_table_trbg">
			<th width="140">充值方式：</th>
			<td>
               <label for="fs_0"><span class="admin_radio_box"><input type="radio" name="fs" value="1" id="fs_0" checked class="admin_radio_box_r"> 增加</span></label>
			   <label for="fs_1"><span class="admin_radio_box"><input type="radio" name="fs" value="2" id="fs_1"  class="admin_radio_box_r"> 扣除</span></label>
			  </td>
		</tr>
        <tr class="int" id="integral_tr">
            <th height="30">{yun:}$config.integral_pricename{/yun}：</th>
            <td>
            <input type="text" name="price_int" id="price_int" size="20" maxlength="16" value="" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"   class="input-text"> {yun:}$config.integral_priceunit{/yun}</td>
        </tr> 
          <tr class="admin_table_trbg">
            <th height="30" >备　　注：</th>
            <td><textarea name="remark" rows=2 cols=40 wrap="physical" class="admin_comdit_textarea"></textarea></td>
        </tr>
		<tr>
        <th></th>
			<td>
    		<input class="admin_submit4" type="submit" name="insert" value="&nbsp;充　值&nbsp;" />
			</td>
		</tr>
	</table>
	<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
	<input type="hidden" name="uid" value="{yun:}$user.uid{/yun}">
</form>
</div>
</div>
</body>
</html>