<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script> 
<script>var weburl = '{yun:}$config.sy_weburl{/yun}';</script>
<script> 
function checkform(myform){
	if(myform.title.value=="") { 
      	parent.layer.msg('请填写招聘会标题！', 2, 8);
      	return (false);
      }		
	var start = $("#starttime").val();	
	var end = $("#endtime").val();
	if(start==""||end==""){
		parent.layer.msg('开始时间、结束时间不能为空！', 2, 8);
		return false
	}else{
		var st=toDate(start);
		var ed=toDate(end);
		if(st>ed){
			parent.layer.msg('开始时间不得大于结束时间', 2, 8); 
			return false
		}
	}
}
function setStandaside(){
	var zid='{yun:}$info.id{/yun}';
	var sid=$("#sid_val").val();

	var pytoken=$("#pytoken").val();
	if(sid==""){
		layer.msg("请先选择场地！",2,8);
	}else{
		$.post("index.php?m=zhaopinhui&c=getzhanwei",{sid:sid,zid:zid,pytoken:pytoken},function(data){
			$("#zhanwei").html(data);
			$.layer({
				type : 1,
				title : '设置预留展位',
				offset: ['100px', ''],
				closeBtn : [0 , true], 
				border : [10 , 0.3 , '#000', true],
				area : ['400px','320px'],
				page : {dom : '#Standaside'}
			});
		})

	}
}
function check_zhanwei(){
	var chk_value =[];    
	$('input[name="zhanwei"]:checked').each(function(){
		chk_value.push($(this).val());   
	}); 
	$("#reserved").val(chk_value);  
	layer.closeAll();
}
function news_preview(url){
	$(".job_box_div").html("<img src='"+url+"' style='max-width:500px' />");
 	$.layer({
		type : 1,
		title : '查看图片',
		closeBtn : [0 , true],
		offset : ['20%' , '30%'],
		border : [10 , 0.3 , '#000', true],
		area : ['560px','auto'],
		page : {dom : '#news_preview'}
	}); 
}
</script>
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
<script language="javascript">
<!--
KindEditor.ready(function(K) {
	K.create('#content', {
		themeType : 'default',
		items:['source', '|', 'fullscreen', 'undo', 'redo',  'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'selectall', '-','title', 'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold','italic', 'underline', 'strikethrough', 'removeformat', 'image','multiimage','advtable', 'hr', 'link', 'unlink']
	});
	K.create('#booth', {
		themeType : 'default',
		items:['source', '|', 'fullscreen', 'undo', 'redo',  'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'selectall', '-','title', 'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold','italic', 'underline', 'strikethrough', 'removeformat', 'image','multiimage','advtable', 'hr', 'link', 'unlink']
	});
	K.create('#media', {
		themeType : 'default',
		items:['source', '|', 'fullscreen', 'undo', 'redo',  'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'selectall', '-','title', 'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold','italic', 'underline', 'strikethrough', 'removeformat', 'image','multiimage','advtable', 'hr', 'link', 'unlink']
	});
	K.create('#packages', {
		themeType : 'default',
		items:['source', '|', 'fullscreen', 'undo', 'redo',  'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'selectall', '-','title', 'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold','italic', 'underline', 'strikethrough', 'removeformat', 'image','multiimage','advtable', 'hr', 'link', 'unlink']
	});
	K.create('#participate', {
		themeType : 'default',
		items:['source', '|', 'fullscreen', 'undo', 'redo',  'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'selectall', '-','title', 'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold','italic', 'underline', 'strikethrough', 'removeformat', 'image','multiimage','advtable', 'hr', 'link', 'unlink']
	});
	
	var editor = K.editor({
		allowFileManager : false
	}); 
	K.create('#content', {
		themeType : 'default'
		
	});
});	
//-->
</script>

<style>
* {margin: 0 ;padding: 0;}
body,div{ margin: 0 ;padding: 0;}
</style>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">添加招聘会</span>
</div>
<div class="admin_table_border">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="myform" target="supportiframe" action="index.php?m=zhaopinhui&c=save" method="post"  encType="multipart/form-data" onSubmit="return checkform(this);">
<table width="100%" class="table_form" style="background:#fff;">
	<tr>
		<th width="120">招聘会标题：</th>
		<td><input class="input-text" type="text" name="title" size="40" value="{yun:}$info.title{/yun}" style="width:400px;"/></td>
	</tr>
	
   
    <tr>
        <th>使用范围：</th>
        <td><input type="button" value="{yun:}if $info.did{/yun}{yun:}$Dname[$info.did]{/yun}{yun:}else{/yun}总站{yun:}/if{/yun}" class="city_news_but" onClick="add_site('{yun:}$info.did{/yun}','{yun:}$Dname[$info.did]{/yun}');">
        <input id="did" type="hidden" name="did" value="{yun:}$info.did{/yun}" />
        </td>
      </tr> 
	<tr  class="admin_table_trbg">
		<th width="120">举办时间：</th>
		<td>
        <div class="admin_zph_date">
        开始时间：
        <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">  
		<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
        <input id="starttime" class="zph_text" type="text" readonly size="20" value="{yun:}$info.starttime{/yun}" name="starttime">
        </div> 
         <div class="admin_zph_date">
        结束时间：
        <input id="endtime" class="zph_text" type="text" readonly size="20" value="{yun:}$info.endtime{/yun}" name="endtime">
        </div>
        <script type="text/javascript">
		var checkin = $('#starttime').fdatepicker({
			format: 'yyyy-mm-dd hh:ii',startView:4,minView:0 
		}).data('datepicker');
		var checkout = $('#endtime').fdatepicker({
			format: 'yyyy-mm-dd hh:ii',startView:4,minView:0,
			onRender: function (date) {
				return date.valueOf() <= (checkin.date.valueOf()-86400000) ? 'disabled' : '';
			}
		}).data('datepicker');  
        </script></td>
	</tr>
    <tr>
		<th width="120">举办会场：</th>
		<td><input class="input-text" type="text" name="address" size="60" value="{yun:}$info.address{/yun}" style="width:400px;"/></td>
	</tr>
 	<tr  class="admin_table_trbg">
		<th width="120">交通路线：</th>
		<td><textarea  type="text" name="traffic" cols="55" rows="3" style="border:1px solid #ddd">{yun:}$info.traffic{/yun}</textarea></td>
	</tr>
    <tr>
		<th width="120">联系电话：</th>
		<td><input class="input-text" type="text" name="phone" size="30" value="{yun:}$info.phone{/yun}" 
			onkeyup="this.value=this.value.replace(/[^0-9-]/g,'')"/></td>
	</tr>
   	<tr  class="admin_table_trbg">
		<th width="120">主办方：</th>
		<td><input class="input-text" type="text" name="organizers" size="30" value="{yun:}$info.organizers{/yun}" /></td>
	</tr>
    <tr>
		<th width="120">联系人：</th>
		<td><input class="input-text" type="text" name="user" size="30" value="{yun:}$info.user{/yun}" /></td>
	</tr>
   
	<tr>	
		<th width="120">缩略图：</th>
			<td><input class="input-text" type="file" name="is_themb" />
				{yun:}if $info.is_themb{/yun}
			<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$info.is_themb{/yun}" style="width:200px;height:150px;">
			{yun:}/if{/yun}
			  </td>
			</tr>
    <tr>
		<th width="120">招聘会介绍：</th>
		<td><textarea  id="content" name="body" cols="100" rows="8" style="width:820px;height:300px;">{yun:}$info.body{/yun}</textarea></td>
	</tr>
	<tr  class="admin_table_trbg">
		<th width="120">媒体宣传：</th>
		<td><textarea  id="media" name="media" cols="100" rows="8" style="width:820px;height:200px;">{yun:}$info.media{/yun}</textarea></td>
	</tr>
    <tr>
		<th width="120">服务套餐：</th>
		<td><textarea  id="packages" name="packages" cols="100" rows="8" style="width:820px;height:200px;">{yun:}$info.packages{/yun}</textarea></td>
	</tr>
 	<tr  class="admin_table_trbg">
		<th width="120">展位设置方案：</th>
		<td><textarea  id="booth" name="booth" cols="100" rows="8" style="width:820px;height:200px;">{yun:}$info.booth{/yun}</textarea></td>
	</tr>
    <tr>
		<th width="120">参与办法：</th>
		<td><textarea  id="participate" name="participate" cols="100" rows="8" style="width:820px;height:200px;">{yun:}$info.participate{/yun}</textarea></td>
	</tr>

		<tr  class="admin_table_trbg">
		<td align="center" colspan="2">
        {yun:}if is_array($info){/yun}
        <input type="hidden" name="id" value="{yun:}$info.id{/yun}" />
        <input class="admin_submit4" type="submit" name="update" value="&nbsp;修 改&nbsp;" />
        {yun:}else{/yun}
        <input class="admin_submit4" type="submit" name="add" value="&nbsp;添 加&nbsp;" />
        {yun:}/if{/yun}
		<input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
	</tr>
</table>
<input type="hidden" name="pytoken"  id="pytoken" value="{yun:}$pytoken{/yun}">
</form>
</div></div>
<div id="news_preview"  style="display:none;width:560px ">
	<div style="height:300px; overflow:auto;width:560px;" >
		<div class="job_box_div" style="text-align:center;margin-top:10px;"></div>
	</div>
</div>
{yun:}include file="$adminstyle/checkdomain.htm"{/yun}

<div id="Standaside" style="display:none;">
	<div style=" margin-top:10px;">
    <div id="zhanwei"></div>
  </div>
</div>
</body>
</html>