<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<meta name=keywords content="{yun:}$keywords{/yun}" />
<meta name=description content="{yun:}$description{/yun}" />
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}/images/style.css" />
<style>
.c_pls {
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #666;
    font-size: 15px;
    background: #f8f8f8;
    margin: 20px 0px;
}
</style>
</head>
<body>

<div class="wrap">
  <div class="c_header_top">
   <div class="com_ans"><span class="com_ans_tp">{yun:}$pre{/yun}%</span><span class="com_ans_tex">两周内简历回复率</span></div>
    <div class="c_top_logo fl">
      <div class="c_logo_ba"> {yun:}if $com.logo{/yun}<img src="{yun:}$com.logo{/yun}" width="185" height="75" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" />{yun:}else{/yun}<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="185" height="75" />{yun:}/if{/yun} </div>
      <div class="wrap_l_name">
     
       <h1 class="wrap_l_name_n" style="display:inline-block">{yun:}$com.name{/yun}</h1> {yun:}if $com.email_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="邮箱未认证" title="邮箱已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="邮箱未认证" title="邮箱未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.moblie_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="手机未认证" title="手机已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="手机未认证" title="手机未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.yyzz_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="执照未认证" title="执照已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="执照未认证" title="执照未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $ComMember.source==6 && $ComMember.claim==0 && $ComMember.email!=""{/yun}
        <a href="javascript:claim('{yun:}url m=ajax c=claim uid=$com.uid{/yun}');">认领</a>
        {yun:}/if{/yun}
        <div class="wrap_l_name_p"> {yun:}if $usertype=='1'{/yun}
          {yun:}if $isatn.id{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">取消关注</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">关注</a> {yun:}/if{/yun}
          {yun:}else{/yun}
            {yun:}if $uid{/yun}
            <a href="javascript:void(0)" onclick="layer.msg('只有个人用户才能关注', 2, 8)" class="wrap_l_name_gz">关注</a> 
            {yun:}else{/yun}
            <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">关注</a> 
            {yun:}/if{/yun} 
          {yun:}/if{/yun}
          已有<font id="antnum{yun:}$com.uid{/yun}">{yun:}$com.ant_num{/yun}</font>人关注 </div>
      </div>
    </div>
  </div>
</div>
<div class="c_top_daoh">
  <ul>
    <li class="c_currer"><a href="{yun:}url m=company c=show id=$com.uid{/yun}">首页</a></li>
    <li ><a href="#about">关于我们</a></li>
	<li><a href="#contact">联系方式</a></li>
    <li ><a href="#job">招聘职位</a></li>
    <li ><a href="#show">企业环境</a></li>
    <li ><a href="#news">企业新闻</a></li>
    <li ><a href="#product">公司产品</a></li>
    <li ><a href="{yun:}$config.sy_weburl{/yun}">人才网首页</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="c_header">
  <div class="c_header_pic"><img src="{yun:}$banner.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_banner{/yun}',2);"  width="980" height="300" /></div>
</div>

<div class="clear"></div>

<div class="c_content">
  <div class="wrap">
    <div class="c_content_bao">
      <div class="c_content_about">
        <div class="c_about_tit" id="about"><i></i><span>关于我们</span></div>
      </div>

      <div class="c_about_nr" style="width:690px; float:left">{yun:}if $com.content{/yun}{yun:}$com.content{/yun}{yun:}else{/yun}<div class="firm_tips_no">该企业还没有填写公司简介! </div>{yun:}/if{/yun}  </div>
       <div class="c_jianjie_right fr">
            <div class="c_right_nr">
              <div class="c_nr_hy"><em>行业</em><span>{yun:}$com.hy_info{/yun}</span></div>
              <div class="c_nr_hy"><em>性质</em><span>{yun:}$com.pr_info{/yun}</span></div>
              <div class="c_nr_hy"><em>规模</em><span>{yun:}$com.mun_info{/yun}</span></div>
              <div class="c_nr_hy"><em>地区</em><span>{yun:}$com.provinceid{/yun}</span></div>
          {yun:}if $com.money{/yun}<div class="c_nr_hy"><em>注资</em>{yun:}$com.money{/yun}万</div>{yun:}/if{/yun}
          {yun:}if $com.sdate{/yun}<div class="c_nr_hy"><em>创办</em>{yun:}$com.sdate{/yun}</div>{yun:}/if{/yun}
            </div>
          <div style="width:265px;border:1px solid #eee; margin-top:10px; padding-bottom:10px;">
         <div class="wx_share_fx">
        <div class="wx_share_fx_img"><img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="120" height="120"></div>
        <div class="wx_share_fx_p">分享到朋友圈</div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
	
	<div class="c_content_recru" id="contact" data-slide='2'>
		<div class="c_about_tit" style="margin-top:20px;"><i></i><span>联系方式</span></div> 
     {yun:}if $looktype=="1"{/yun}
      <div class="firm_det_link"> 
      {yun:}if $com.linkman{/yun}<span class="firm_mes1">联 &nbsp;系&nbsp;人：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkman{/yun}</em> </i></span>{yun:}/if{/yun}
      {yun:}if $com.linkjob{/yun}<span class="firm_mes1">联系人职位：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkjob{/yun}</em> </i></span>{yun:}/if{/yun}
    {yun:}if $com.linkphone{/yun} <span class="firm_mes1">固定电话：<i>{yun:}$com.linkphone{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linktel{/yun} <span class="firm_mes1">联系电话：<i> <em class="JoB_material_right JoB_material_line">{yun:}image uid=$com.uid action=linktel{/yun}</em> </i></span> {yun:}/if{/yun}
          {yun:}if $com.linkmail{/yun} <span class="firm_mes1">联系邮件：<i>{yun:}$com.linkmail{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linkqq{/yun} <span class="firm_mes1">联 系 QQ：<i>{yun:}$com.linkqq{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.zip{/yun} <span class="firm_mes1">邮政编码：<i>{yun:}$com.zip{/yun}</i></span> {yun:}/if{/yun}        
          {yun:}if $com.website{/yun} <span class="firm_mes1">企业网址：<i>{yun:}$com.website{/yun}</i></span> {yun:}/if{/yun}
           {yun:}if $com.busstops{/yun} <span class="firm_mes1" style="width:100%;">公交站点：<i>{yun:}$com.busstops{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.address{/yun} <span class="firm_mes1" style="width:100%;">公司地址：<i>{yun:}$com.address{/yun}</i></span> {yun:}/if{/yun} 
           {yun:}if $com.comqcode{/yun} <span class="firm_mes1" style="width:100%;">微信公众号：<i><img src="{yun:}$com.comqcode{/yun}" width="120" height="120"></i></span> {yun:}/if{/yun} 
           </div>
           {yun:}else{/yun}
           {yun:}if $looktype=="3" || $looktype=="2"|| $looktype=="5"{/yun} 
            <div class="firm_login">
        <div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span> </div>
      </div>
            {yun:}elseif $looktype=="6"{/yun} 
             <div class="firm_login">
        <div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span>
		<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect" class="firm_login_zc">创建简历</a> </div>
      	</div>
         {yun:}elseif $looktype=="4"{/yun} 
      <div class="firm_login">
        <div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span> <a class="firm_login_dl" href="javascript:void(0);" onclick="showlogin('1');">立即登录</a> <a class="firm_login_zc" href="{yun:}url m=register usertype=1 type=1{/yun}">立即注册</a>
		</div>
      </div>
    {yun:}/if{/yun}
          {yun:}/if{/yun}
      </div>
    <div class="c_content_recru" id="job">
      <div class="c_about_tit" style="margin-top:20px;"><i></i><span>招聘职位</span></div>
      <div class="c_recru_list">
        <ul>
          {yun:}joblist ispage=1 limit=12 item=joblist uid='auto.id'{/yun}
          <li id="y{yun:}$joblist.id{/yun}" aid="{yun:}$joblist.id{/yun}" style="margin-right:32px; margin-bottom:15px;"> <a href="{yun:}$joblist.job_url{/yun}">
            <div class="c_list_bt fl"><span class="fl">{yun:}$joblist.name{/yun}</span><em class="fr">{yun:}$joblist.lastupdate|date_format:"%Y-%m-%d"{/yun}</em></div>
            <div class="c_list_nr fl"><span class="fl">{yun:}$joblist.job_salary{/yun}</span><span class="fr">{yun:}$joblist.job_edu{/yun}/{yun:}$joblist.job_exp{/yun}/{yun:}$joblist.job_city_two{/yun}</span></div>
            </a> </li>
          {yun:}/joblist{/yun}
        </ul>
      </div>
      {yun:}if $pagenav{/yun}
         <div class="pages"> <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}if $smarty.get.page{/yun}{yun:}$smarty.get.page{/yun}{yun:}else{/yun}1{yun:}/if{/yun}','12','1');">上一页</a> <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}if $smarty.get.page{/yun}{yun:}$smarty.get.page{/yun}{yun:}else{/yun}1{yun:}/if{/yun}','12','2');">下一页</a></div>
            {yun:}/if{/yun}
          {yun:}if $num==0{/yun}
            <div class="firm_tips_no"> 该企业还没有发布职位信息!</div>
           {yun:}/if{/yun} 
    </div>
     <div class="maincenters companysearch_menuBoxs">
      <div id="sortBoxs">
        <div class="search_menuBoxs">
          <ul>
            <li class="search_curs" id="typezb" onmousemove="searchtype('zb');">周边招聘</li>
            <li id="typezp" onmousemove="searchtype('zp');">招聘频道</li>
            <li id="typerm" onmousemove="searchtype('rm');">热门搜索</li>
          </ul>
        </div>
        <div class="contentBoxs">

        <div class="contentBox_conts " id="type_zb">
        <div class="Industry_lists">
			{yun:}if $city.three_cityid{/yun}
				{yun:}foreach item=v from=$city_type[$city.cityid]{/yun}
				<a href="{yun:}listurl provinceid=$city.provinceid cityid=$city.cityid type=three_cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}招聘</a>
				{yun:}/foreach{/yun}
			{yun:}elseif $city.cityid{/yun}
				{yun:}foreach item=v from=$city_type[$city.provinceid]{/yun}
				<a href="{yun:}listurl provinceid=$city.provinceid type=cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}招聘</a>
				{yun:}/foreach{/yun}
			{yun:}else{/yun}
				{yun:}foreach item=v from=$city_index{/yun}
				<a href="{yun:}listurl type=provinceid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}招聘</a>
				{yun:}/foreach{/yun}
			{yun:}/if{/yun}
        </div>
        </div>
          <div class="contentBox_conts none" id="type_zp" >
           <div class="Industry_lists">
        {yun:}foreach item=v from=$industry_index{/yun}
		<a href="{yun:}listurl type=hy v=$v{/yun}">{yun:}$industry_name[$v]{/yun}招聘</a>
		{yun:}/foreach{/yun}
              
          </div> </div>
          <div class="contentBox_conts none" id="type_rm">
            <div class="Industry_lists">
                {yun:}key limit=20 recom=1 type=3 item=keylist{/yun}
                <a href="{yun:}$keylist.url{/yun}">{yun:}$keylist.key_name{/yun}</a> 
                {yun:}/key{/yun}
          </div> </div>
        </div>
      </div>
    </div>
     {yun:}show{/yun}
      {yun:}if !empty($show){/yun}
    <div class="clear"></div>
    <div class="c_content_envir" id="show">
      <div class="c_about_tit"><i></i><span>企业环境</span></div>
     
      <div class="c_envir_pic">
        <ul>
          {yun:}foreach from=$show key=key item=row{/yun}
          <li style="padding-right:8px; padding-left:8px;"><a class="image_gall" href="{yun:}$config.sy_weburl{/yun}/{yun:}$row.picurl{/yun}"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$row.picurl{/yun}" width="180" height="127"  title="{yun:}$row.title{/yun}"/></a></li>
          {yun:}/foreach{/yun}
        </ul>
      </div>
      <div class="clear"></div>
    </div> {yun:}/if{/yun}
    <div class="clear"></div>
   {yun:}if !empty($NewsList){/yun}
    <div class="clear"></div>
    <div class="c_about_tit" id="news" style="margin-top:20px;"><i></i><span>企业新闻</span></div>
    <div class="com_news">
      <ul class="">
        {yun:}foreach from=$NewsList item=row{/yun}
        <li>
          <p><a href="{yun:}url m=company c=newsshow id=$com.uid nid=$row.id style=$smarty.get.style{/yun}" target="_blank">{yun:}$row.title{/yun}</a></p>
        </li>
        {yun:}/foreach{/yun}
      </ul>
            </div>   {yun:}/if{/yun} {yun:}if !empty($ProductList){/yun}
    <div class="clear"></div>
    <div class="c_about_tit" id="product" style="margin-top:20px;"><i></i><span>企业产品</span></div>
    <div class="com_cp_list">
      {yun:}foreach from=$ProductList item=row{/yun}
      <dl>
        <dt><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}"><img src="{yun:}formatpicurl path=$row.pic{/yun}" width="200" height="140" /></a></dt>
        <dd><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}">{yun:}$row.title{/yun}</a></dd>
      </dl>
      {yun:}/foreach{/yun}
    </div> {yun:}/if{/yun}
  </div>
      <div class="clear"></div>     
</div></div>

<div class="clear"></div>
<script>
var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}',pricename='{yun:}$config.integral_pricename{/yun}',code_web='{yun:}$config.code_web{/yun}',code_kind='{yun:}$config.code_kind{/yun}';</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/popImage/jquery.popImage.mini.js" language="javascript"></script> 
<script>
$(function () {
	$('.c_top_daoh li').click(function () {
		$(this).addClass('c_currer').siblings().removeClass('c_currer');
	});
	$(".c_recru_list").find("li").hover(function () {
		var aid = $(this).attr("aid");
		$("#y" + aid).addClass("c_list_curre");
	}, function () {
		var aid = $(this).attr("aid");
		$("#y" + aid).removeClass("c_list_curre");
	});
	
	$("a.image_gall").popImage();
});
function page(id,page,limit,updown){
	if(page<1){
		page==1;
	}
	$.ajax({
		type: "POST",
		global: false,
		url :"{yun:}url m=company c=prestr{/yun}",
		data:{id:id,page:page,limit:limit,updown:updown},
		success :function(data){
			var data=eval("("+data+")");
			if(updown==1){
				window.location.href="{yun:}url m=company c=show id=$com.uid{/yun}&page="+data.prep+"";
			}else if(updown==2){
				window.location.href="{yun:}url m=company c=show id=$com.uid{/yun}&page="+data.nextp+"";
			}
			
		}
	});
}
function searchtype(id){
	$(".search_curs").removeClass("search_curs");
	$("#type"+id).addClass("search_curs");
	$(".contentBox_conts").hide();
	$("#type_"+id).show();
}
</script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.inter_con .inter_con_new,.vip_pic_xg a,.vip_mes h2 a');
</script>
<![endif]-->
{yun:}include file="$tplstyle/public_search/login.htm"{/yun}

{yun:}include file="$tplstyle/footer.htm"{/yun} 