{yun:}include file="$comstyle/header.htm"{/yun}
<link href="{yun:}$comstyle{/yun}/images/index_style.css" type=text/css rel=stylesheet>
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
      <div class="job_list_tit">
         <ul class="">
         <li {yun:}if $smarty.get.c=="hr"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=hr">应聘简历</a></li>
         <li {yun:}if $smarty.get.c=="down"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=down">已下载简历</a></li>
         <li {yun:}if $smarty.get.c=="talent_pool"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=talent_pool">收藏简历</a></li>
         <li {yun:}if $smarty.get.c=="look_resume"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=look_resume">浏览简历</a></li>
         <li {yun:}if $smarty.get.c=="record"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=record" title="网站为您推荐的简历">网站推荐简历</a></li>
         <li {yun:}if $smarty.get.c=="my_create_resume"{/yun} class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=my_create_resume" title="我创建的简历">我创建的简历</a></li>
         </ul>
         </div>
          <div class="com_body">
        <div class=admin_textbox_04>
          <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="index.php?c=look_resume&act=del" method="post" target="supportiframe" id='myform'>
            <div class=table>
              <div id="job_checkbokid">
              {yun:}if $rows{/yun}
                <div class="job_news_list job_news_list_h1"> 
                <span class="job_news_list_span job_w30" style="padding-right:5px;">&nbsp;</span> 
                <span class="job_news_list_span job_w80" style="text-align:left">姓名</span>
                <span class="job_news_list_span job_w270">求职意向</span> 
                <span class="job_news_list_span job_w120">工作经验</span> 
                <span class="job_news_list_span job_w100">期望薪资</span>
                <span class="job_news_list_span job_w120">浏览时间</span> 
                <span class="job_news_list_span job_w120">操作</span> 
                </div>
                {yun:}/if{/yun}
                {yun:}foreach item=v from=$rows{/yun}
                <div class="job_news_list"> 
					<span class="job_news_list_span job_w30" style="padding-right:5px;">
						<input type='checkbox' name="delid[]" value="{yun:}$v.id{/yun}"  class="com_Release_job_qx_check" style="margin-top:2px;">
					</span>
                    	<span class="job_news_list_span job_w80" style="text-align:left">
						<a href="{yun:}url m=resume c=show id='`$v.resume_id`'{/yun}" target="_blank" class="com_Release_name">{yun:}$v.name{/yun}&nbsp;</a>
					</span> 
					<span class="job_news_list_span job_w270"><span class="yxjob_name">{yun:}$v.jobname{/yun}&nbsp;</span></span> 
					<span class="job_news_list_span job_w120">{yun:}$v.exp{/yun}&nbsp;</span>  
                   <span class="job_news_list_span job_w100">{yun:}if $v.minsalary&&$v.maxsalary{/yun}￥{yun:}$v.minsalary{/yun}-{yun:}$v.maxsalary{/yun}{yun:}else if $v.minsalary{/yun}￥{yun:}$v.minsalary{/yun}以上{yun:}else{/yun}面议{yun:}/if{/yun}&nbsp;</span> 
					<span class="job_news_list_span job_w120">{yun:}$v.datetime|date_format:'%Y-%m-%d '{/yun}&nbsp;</span> 
					<span class="job_news_list_span job_w120">
						{yun:}if $v.userid_msg==1{/yun} 
							<font color="#999">已邀请</font> 
						{yun:}else{/yun} 
							<a href="javascript:;" uid="{yun:}$v.uid{/yun}" username="{yun:}$v.name{/yun}" class="sq_resume uesr_name_a" style="position:relative; "> 邀请面试</a> 
						{yun:}/if{/yun} 
						<span class="com_m_line">|</span>  
						<a href="javascript:void(0)" onclick="layer_del('确定要删除？','{yun:}$now_url{/yun}&act=del&id={yun:}$v.id{/yun}')" class="uesr_name_a">删除</a>
					</span>
				</div>
                {yun:}foreachelse{/yun}
                <div class="msg_no">
                   <p>亲爱的用户，目前您还没有浏览过简历！</p>
                   <a href="{yun:}url m=resume{/yun}" class="com_msg_no_bth com_submit">我要主动找人才</a></div>
                {yun:}/foreach{/yun} </div>
            </div>
            {yun:}if $rows{/yun}
          <div class="com_Release_job_bot"> <span class="com_Release_job_qx">
              <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)' class="com_Release_job_qx_check">
              全选</span>
              <input  class="c_btn_02" type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
            </div>
        <div class="clear"></div>
            <div class="diggg">{yun:}$pagenav{/yun}</div>
            {yun:}/if{/yun}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{yun:}include file="$comstyle/yqms.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun} 